<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--  here are using coma in name attribute ....we can use only space also -->
    <!--  
<bean class="com.sp.beans.Student" name="stdObj1, stdObj2">
	<property name="name" value="Bhushan Chavan"/>
	<property name="rollno" value="555"/>

</bean>
			-->
    <!--  here are using semicolon in name attribute -->
 <bean class="com.sp.beans.Student" name="stdObj1; stdObj2">
	<property name="name" value="Bhushan Chavan"/>
	<property name="rollno" value="555"/>

</bean>
</beans>